@model GameStore.Models.tblNhaCungCap

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_MyLayout.cshtml";
}

<link href="~/Areas/Admin/Content/css/style.css" rel="stylesheet" type="text/css">

<h2 class="title-manage">Xóa nhà cung cấp</h2>

<h3 style="text-align:center">Bạn thực sự muốn xóa nhà cung cấp này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên nhà cung cấp:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNCC)
        </dd>

        <dt>
            Địa chỉ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            Số điện thoại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" style="margin-left:562px" /> |
            @Html.ActionLink("Trở Về", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
    <div class="delete-image">
        <img src="~/Content/images/delete.gif" style="width: 26%; margin-left: 36.6%;" />
    </div>
</div>


